apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-app
  namespace: payments-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments-app
  template:
    metadata:
      labels:
        app: payments-app
    spec:
      securityContext: {}
      containers:
        - name: payments-app
          image: 307424506852.dkr.ecr.ap-south-1.amazonaws.com/payments-app:latest
          securityContext:
            readOnlyRootFilesystem: true
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1024Mi"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          volumeMounts:
            - name: config-volume
              mountPath: /config
            - name: tmp-volume
              mountPath: /tmp
      volumes:
        - name: config-volume
          configMap:
            name: payments-app-config
        - name: tmp-volume
          emptyDir: {}
      restartPolicy: Always



