apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: payments-app-deny-all
  namespace: payments-app
spec:
  podSelector:
    matchLabels:
      app: payments-app
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 8080
  egress:
    - to:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 8080
