apiVersion: v1
kind: Service
metadata:
  name: payments-app
  namespace: payments-app
spec:
  selector:
    app: payments-app
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
